@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .react-datepicker {
        @apply !border-n-3 !rounded-lg !font-inter shadow-[0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)] overflow-hidden dark:bg-n-7 dark:!border-n-5;
    }
    .react-datepicker .react-datepicker__header {
        @apply bg-transparent border-none;
    }
    .react-datepicker .react-datepicker__current-month {
        @apply base2 font-semibold text-n-4/75;
    }
    .react-datepicker .react-datepicker__navigation {
        @apply top-1.5;
    }
    .react-datepicker .react-datepicker__navigation-icon::before {
        @apply transition-colors dark:border-n-4;
    }
    .react-datepicker
        .react-datepicker__navigation:hover
        .react-datepicker__navigation-icon::before {
        @apply dark:border-n-3;
    }
    .react-datepicker .react-datepicker__triangle {
        @apply hidden;
    }
    .react-datepicker .react-datepicker__day-name {
        @apply pt-2 caption2 font-semibold text-n-5;
    }
    .react-datepicker .react-datepicker__day {
        @apply py-[0.22rem] rounded caption1 transition-colors dark:text-n-1 dark:hover:text-n-7;
    }
    .react-datepicker .react-datepicker__day.past {
        @apply text-n-4/50 pointer-events-none;
    }
    .react-datepicker .react-datepicker__day--today {
        @apply bg-n-3 text-n-1;
    }
    .react-datepicker .react-datepicker__day--today.past {
        @apply text-n-7 pointer-events-auto;
    }
    .react-datepicker .react-datepicker__day--selected {
        @apply bg-primary-1 !text-n-1;
    }
    .react-datepicker .react-datepicker__day--keyboard-selected {
        @apply bg-transparent;
    }
    .react-datepicker .react-datepicker__day--outside-month {
        @apply opacity-0 invisible;
    }
    .react-datepicker .react-datepicker__time-container,
    .react-datepicker
        .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box {
        @apply w-[15rem] text-left dark:bg-n-7 dark:border-n-5 !rounded-lg;
    }
    .react-datepicker
        .react-datepicker__time-container
        .react-datepicker__time {
        @apply bg-transparent;
    }
    .react-datepicker .react-datepicker__header--time {
        @apply hidden;
    }
    .react-datepicker .react-datepicker__time-list-item {
        @apply transition-colors;
    }
    .react-datepicker
        .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item {
        @apply pl-5 leading-normal dark:text-n-4 dark:hover:text-n-7;
    }
    .react-datepicker
        .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item--selected {
        @apply bg-primary-1 text-n-1 dark:text-n-1;
    }

    .multiselect .multiselect__control {
        @apply min-h-[3.25rem] p-0 border-2 border-n-3 rounded-xl base1 shadow-none outline-none transition-colors cursor-pointer hover:border-n-4/50 dark:bg-transparent dark:border-n-5;
    }
    .multiselect .multiselect__control.multiselect__control--menu-is-open {
        @apply border-primary-1;
    }
    .multiselect .multiselect__value-container {
        @apply pl-13 py-0 pr-0;
    }
    .multiselect-access .multiselect__value-container {
        @apply pr-32;
    }
    .multiselect .multiselect__input {
        @apply dark:!text-n-1;
    }
    .multiselect .multiselect__input:focus {
        @apply md:base1;
    }
    .multiselect .multiselect__placeholder {
        @apply text-n-4/50;
    }
    .multiselect .multiselect__value-container--has-value {
        @apply pl-0;
    }
    .multiselect .multiselect__multi-value {
        @apply m-1 p-2 rounded-lg bg-n-3/50 fill-n-4/50 transition-colors hover:!bg-primary-1 hover:text-n-1 hover:fill-n-1 dark:bg-n-6;
    }
    .multiselect .multiselect__multi-value__label {
        @apply p-0 text-inherit transition-none;
    }
    .multiselect .multiselect__multi-value__remove {
        @apply p-0 hover:!bg-transparent hover:scale-110;
    }
    .multiselect .multiselect__indicators {
        @apply hidden;
    }
    .multiselect .multiselect__menu {
        @apply z-10 mt-2 p-2 shadow-[inset_0_0_0_0.0625rem_#E8ECEF,0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)] rounded-xl dark:bg-n-7 dark:shadow-[inset_0_0_0_0.0625rem_#343839,0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)];
    }
    .multiselect .multiselect__menu-list {
        @apply max-h-[12rem] p-0 overflow-auto scroll-smooth;
    }
    .multiselect .multiselect__option {
        @apply flex items-center px-2 py-2.5 rounded-xl transition-colors cursor-pointer;
    }
    .multiselect .multiselect__option--is-focused {
        @apply bg-n-3/50 dark:bg-n-6;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    body {
      background-color:#e9ebee;
    }
    
    .f-card {
      /* background-color:white; */
      /*height:400px;*/
      /* width:502px; */
      /* border: 1px solid #d0d1d5; */
      border-radius:3px;
      /* margin: auto;
      margin-bottom:10px; */
      padding: 12px; 
      
      /* box-shadow: 0 0 5px rgba(0, 0, 0, .30); Not original, just a test */
    }
    
    .header {
      margin-bottom:17px;
    }
    
    .co-logo {
      /*display:block;*/
      float:left;
      margin-right:8px;
      
      width:40px;
      height:40px;
    }
    
    .co-name > a {
      font-family: Helvetica;
      font-size:14px;
      font-weight: bold;
      line-height: 1.38;
      color: #365899;
      text-decoration:none;
      
      margin-bottom:2px;
    }
    
    .co-name > a:hover {
      text-decoration:underline;
    }
    
    .time {
      font-family: Helvetica;
      font-size:12px;
      color: #90949c;
    }
    
    .time > a {
      color: #90949c;
      text-decoration:none;
    }
    
    .time > a:hover {
      text-decoration:underline;
    }
    
    .options {
      font-family: Helvetica;
      font-size:12px;
      color: #e5e5e5;
      float:right;
    }
    
    .options:hover {
      color: black; /* Fallback */
      color: rgba(0, 0, 0, .30);
    }
    
    .content {
      clear:both;
      font-family: Helvetica, sans-serif;
      font-size:14px;
      line-height: 1.38;
    }
    
    .reference {
      width:476px;
    }
    .reference-thumb {
      display:block;
      width:476px;
      height:249px;
    }
    
    .reference-content {
      border: 2px solid black;
      border: 2px solid rgba(0, 0, 0, .1);
      border-top: 0;
      padding: 10px 12px 10px 12px;
    }
    
    .reference:hover .reference-content {
      border-color: black; /* Fallback */
      border-color: rgba(0, 0, 0, .15);
    }
    
    .reference-title {
      font-family: Georgia;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      
      margin-bottom:5px;
    }
    
    .reference-subtitle {
      font-family: Helvetica;
      font-size:12px;
      line-height: 16px; 
    }
    
    .reference-font {
      color: #90949c;
      font-family: Helvetica;
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;
    
      padding-top:9px; 
    }
    
    .social {
      margin-top:12px;
    }
    .social-buttons {
      color: #7f7f7f;
      font-family: Helvetica;
      font-size: 12px;
      font-weight:bold;
      line-height:14px;
      
      /* border-top:1px solid #e5e5e5; */
      padding-top:4px;
      
    }
    
    .social-buttons span {
      font-size: 12px;
      margin-right:20px;
      padding:4px 4px 4px 0;
    }
    
    .social-buttons span:hover {
      text-decoration:underline;
      cursor:pointer;
    }
    
    .social-buttons span i {
      padding-right:4px;
    }
}
